html{
  box-sizing: border-box;
  height: 100%;
}

.list{
  border-left: 5px solid transparent;
}

.list:hover {
  border-left: 5px solid lightcoral;
}

.friendIcon{
  color: #00C853;
  -webkit-transition: color .25s ease-out;
  -moz-transition: color .25s ease-out;
  -o-transition: color .25s ease-out;
  transition: color .25s ease-out;
}

.friendIcon:hover{
  color: rgb(1, 133, 56);
  cursor: pointer;
}

.removableFriendIcon{
  color: rgb(200, 0, 0);
  -webkit-transition: color .25s ease-out;
  -moz-transition: color .25s ease-out;
  -o-transition: color .25s ease-out;
  transition: color .25s ease-out;
}

.removableFriendIcon:hover{
  color: rgb(143, 0, 0);
  cursor: pointer;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  background-color: whitesmoke;
  padding-bottom: 6rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
