html{
  box-sizing: border-box;
  height: 100%;
}

.list{
  border-left: 5px solid transparent;
}

.list:hover {
  border-left: 5px solid lightcoral;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  background-color: whitesmoke;
  padding-bottom: 6rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
